<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <style>
      .custom-btn {
        transition: background-color 0.4s ease, color 0.4s ease;
      }

      .custom-btn:hover {
        background-color: #ff9800; /* a slightly darker/or different shade */
        color: #fff; /* text color on hover */
      }

      .hovers:hover {
        filter: brightness(120%);
        box-shadow: 0 0 20px rgba(1, 0, 0, 0.5);
        transform: scale(1.05);
        transition: all 0.2s ease;
        cursor: pointer;
      }
    </style>
  </head>
  <body>