<%- include("header.ejs") %>
<div class="bg-warning">
  <div class="container">
    <div class="row">
      <div
        class="options p-4 d-flex justify-content-between align-items-center col-sm-12 col-md-12 col-lg-12"
      >
        <div class="home">
          <a class="link-underline link-underline-opacity-0 text-dark" href="/"
            >HOME</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container d-flex align-items-center justify-content-center"
  style="height: calc(100vh - 4rem)"
>
  <div
    class="row border shadow rounded-5 col-11 col-sm-11 col-md-10 col-lg-5 p-4"
  >
    <h2 class="text-center">signin</h2>
    <form
      action="/signin"
      method="post"
      class="p-4 py-0 d-flex flex-column justify-content-center"
    >
      <div class="p-2 d-flex flex-column">
        <label for="email">Email</label>
        <input type="email" id="email" name="username" required />
      </div>

      <div class="p-2 d-flex flex-column">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div class="button pt-4 d-flex align-items-center justify-content-center">
        <button
          type="submit"
          class="btn btn-warning btn-sm"
          style="width: 7rem"
        >
          submit
        </button>
      </div>
      <p class="text-end mt-2 mb-0">
        <a
          href="/login"
          class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >login</a
        >
      </p>
    </form>
  </div>
</div>
<%- include("footer.ejs") %>
